* {
    margin: 0;
    padding: 0;
}
.top-header {
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
}
.top-header-text {
    font-size: 10px;
    float: left;
    padding-top: 5px;
    margin-left: 200px;
}
.top-header ul {
    display: flex;
    list-style-type: none;
    float:right;
    padding-bottom: 10px;
}
.top-header li {
    font-size: 10px;
}
.top-header a {
    text-decoration: none;
    color: grey;
}
.top-header a:hover {
    text-decoration: underline;
}
.top-header-side-menu {
    margin-right: 350px;
    padding-top: 5px;
}
.top-header-side-menu li {
    color: grey;
}
.top-header-side-menu li::after {
    content: "|";
}