* {
    margin: 0;
    padding: 0;
}
.top-header {
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
}
.top-header-text {
    font-size: 10px;
    float: left;
    padding-top: 9px;
    margin-left: 200px;
}
.top-header ul {
    display: flex;
    list-style-type: none;
    float:right;
    padding-bottom: 10px;
}
.top-header li {
    font-size: 12px;
}
.top-header a {
    text-decoration: none;
    color: grey;
}
.top-header a:hover {
    text-decoration: underline;
}
.top-header-side-menu {
    margin-right: 270px;
    padding-top: 5px;
}
.top-header-side-menu li {
    color: grey;
    font-size: 10px;
    letter-spacing: 1px;
}
.top-header-side-menu li::after {
    content: "|";
    margin: 0 3px 0 3px;
}
.top-header-side-menu li:nth-child(6)::after {
    content: none;
}
.top-header-side-menu li:last-child {
    margin-left: 5px;
    background-color:#d9d9d9;
}
.top-header-side-menu li:last-child a {
    color: blue;
}
.top-header-side-menu li:last-child::after {
    content: none;
}
.top-header-side-menu li:last-child::before  {
    content: "";
    display: inline-block;
    background-image: url("../img/unnamed-_1_\ .png");
    background-color: #d9d9d9;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    margin-right: 3px;
}
/*------------------------*/
.second-header {
    padding-top: 25px;
}
.header-logo {
    margin-left: 198px;
    margin-right: 435px;
}
.header-logo img {
    width: 220px;
    height: 50px;
}
.second-header , .header-tel , .link-icon {
    display: flex;
}
.tel {
    margin-right: 30px;
}
.tel p {
    font-weight: lighter;
    font-size: 7px;
    text-align: center;
}
.link-icon {
    list-style-type: none;
    padding-top: 5px;
}
.link-icon li {
    margin-right: 5px;
}
.link-icon a:hover {
    opacity: 0.8;
}
/*------------------*/
.hide-header {
    display: flex;
    position: fixed;
    display: none;
}
.hide-header-logo {
    margin-left: 198px;
    margin-right: 200px;
}
.hide-header-logo img {
    width: 190px;
    height: 35px;
}
.hide-header-tel {
    margin-right: 300px;
}
.hide-link-icon {
    display: flex;
    list-style-type: none;
}
.hide-link-icon a {
    text-decoration: none;
    color: #000066;
}
.hide-link-icon a:hover {
    color: white;
    background-color: #000066;
}
.hide-link-icon li {
    font-size: 7px;
    font-weight: lighter;
    margin-right: 15px;
    white-space: nowrap;
}
.hide-link-icon img {
    width:150px;
    height:25px;
    padding-top: 10px;
}
.hide-link-icon li:nth-child(2) {
    padding-top: 10px;
}
.hide-link-icon li:nth-child(3) {
    border: 1px solid #000066;
    width: 145px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.hide-link-icon li:nth-child(3)::after {
    content:">";
    color: #000066;
    float: right;
    padding-right: 5px;
}
.hide-link-icon li:nth-child(3):hover {
    color: white;
    background-color: #000066;
}
.hide-link-icon li:nth-child(4) {
    border: 1px solid #000066;
    width: 145px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.hide-link-icon li:nth-child(4)::after {
    content:">";
    color: #000066;
    float: right;
    padding-right: 5px;
}
.hide-link-icon li:nth-child(4):hover {
    color: white;
    background-color: #000066;
}
/*------------------------------*/
.third-header {
    display: flex;
    padding-top: 15px;
}
.third-menu {
    margin-left: 200px;
}
.third-menu ul{
    display: flex;
    list-style-type: none;
}
.third-menu li {
    border-left: 1px solid grey;
    padding-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.third-menu li:last-child {
    border-right: 1px solid grey;
    padding-right: 30px;
}
.third-menu li:hover {
    color: #000066;
    cursor: pointer;
}
.third-menu p {
    font-size: 5px;
}
.third-link-icon {
    display: flex;
    list-style-type: none;
}
.third-link-icon li {
    font-size: 7px;
    font-weight: lighter;
    margin-right: 15px;
    white-space: nowrap;
}
.third-link-icon  a {
    text-decoration: none;
    color: #000066;
}
.third-link-icon a:hover {
    color: white;
    background-color: #000066;
}
.third-link-icon li:nth-child(1) {
    border: 1px solid #000066;
    width: 145px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.third-link-icon li:nth-child(1)::after {
    content:">";
    color: #000066;
    float: right;
    padding-right: 5px;
}
.third-link-icon li:nth-child(1):hover {
    color: white;
    background-color: #000066;
}
.third-link-icon li:nth-child(2) {
    border: 1px solid #000066;
    width: 145px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.third-link-icon li:nth-child(2)::after {
    content:">";
    color: #000066;
    float: right;
    padding-right: 5px;
}
.third-link-icon li:nth-child(2):hover {
    color: white;
    background-color: #000066;
}
.third-menu-2 {
    margin-left: 20px;
}
/*------------------*/
.nav {
    background-color: #000066;
    height: 100px;
    margin-top: 15px;
    padding-top: 15px;
}
.nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    width: 990px;
}
.nav li {
    list-style-type: none;
    padding-top: 8px;
    margin:0 0 10px 10px;
}
.nav li::before {
    content:"＼";
    margin-right: 8px;
}
.nav li:first-child::before {
    content: none;
}
.nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    background-color: white;
    color: #000066;
}
/*-------------------------*/
.bunner-text {
    position: relative;
}
.bunner-text h1 {
    color: white;
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: 10px;
    position: absolute;
    top: 9%;
    left: 35%;
}
.bunner-text p {
    color: white;
    position: absolute;
    top: 25%;
    left: 46%;
}
.bunner-text img {
    object-fit: cover;
    height: 550px;
    width: 100%;
}
